/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
/* * {
  border: solid black 1px;
} */

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px;
}

.header {
  padding: 15px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0fb9b1;
  align-items: center;
}

.title {
  margin: 0px;
}

.add-recipe-button {
  font-size: 14px;
  padding: 10px;
  border: none;
}

.main-section {
  margin: 50px 0px;
  height: 53%;
  display: flex;
  justify-content: space-around;
}

.clear {
  color: white;
  border: none;
  background-color: #95a5a6;
  padding: 8px 12px;

}
/* div {
  border: solid black 1px;
  background-color: rgba(225, 225, 225, .9);
  padding: 30px;
  width: 430px;
  height: 300px;
  display: flex;
} */

#form-box {
  background-color: rgba(225, 225, 225, .9);
  padding: 25px;
  margin-left: 20px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#display-box {
  background-color: rgba(225, 225, 225, .9);
  padding: 25px;
  margin-right: 20px;
  width: 33%;
  display: grid;
  grid-template-rows: 38% 42% 20%;
}

#you-should-para {
display: flex;
justify-content: center;
align-items: flex-end;
grid-row-start: 1;
}

#meal-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 2;
}

#clear-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row-start: 3;
}

.you-should-make {
  font-weight: 700;
  font-style: italic;
  margin: 0px;
}

input {
  margin: 10px;
  padding: 5px 5px;
  background-color: #0fb9b1;
  border: none;
  font-size: 12px;
}

.lets-cook-button {
  margin: 12px 5px;
  width: 38%;
  padding: 8px 40px;
  background-color: #0fb9b1;
  border: none;
  font-size: 12px;
}

.output {
  font-size: 32px;
  margin: 5px;
  text-align: center;
}

#pot {
  height: 150px;
  width: 150px;
}

.required {
  color: #ee5253;
}

button {
  border-radius: 4px
}

/* .bottom-section {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(225, 225, 225, .9);
  align-items: center;
} */

.add-recipe-form {
  margin: 0px;
  width: 100%;
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(225, 225, 225, .9);
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.add-recipe-input {
  background-color: white;
  border: solid black 1px;
  width: 14%;
  padding: 8px 5px;
  margin: 0px 10px;
  font-size: 14px;
}

.add-new-button {
  margin: 12px 8px;
  padding: 8px 8px;
  background-color: #0fb9b1;
  border: none;
}

.hidden {
  display: none;
}
